# .pytest_cache
.pytest_cache/
__pycache__/
*.pyc

# Virtual Environment
venv/
env/
.env

# IDE
.idea/
.vscode/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Alembic
alembic/*.pyc
alembic/__pycache__/

# Docker
.docker/

# Logs
*.log

# Database
*.db
